<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Prisma.JPG" %>
	</div>
</div>

<div id="content">
	<h1>Hey, welcome to this blog!</h1>
	<p>I`m Mariano Sáenz de Cenzano, a junior fullstack developer.
	<p>This is a test exercice to practice my Ruby on rails HTML & CSS skills.</p>
	<p> Thank you for taking your time to check it out.</p>

	<p>You can contact me by email: <a href="mailto:mscenzano@gmail.com">click here</a></p>
</div>